<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700,800,900|Montserrat:400%2C700%7CAbril+Fatface:400%7CYellowtail:400" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />

	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" type="text/css" href="demos/photographer/css/menu.css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Photographer Specific Stylesheet -->
	<link rel="stylesheet" href="demos/photographer/photographer.css" type="text/css" />
	<!-- Photographer Specific Fonts -->
	<link rel="stylesheet" href="demos/photographer/css/fonts.css" type="text/css" />
	<!-- / -->

	<!-- Photographer Specific Color -->
	<link rel="stylesheet" href="css/colors.php?color=e41c34" type="text/css" />

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">

	<!-- ADD-ONS CSS FILES -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/addons/revolution.addon.revealer.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/addons/revolution.addon.revealer.preloaders.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/addons/revolution.addon.particles.css">

  <!-- Extended -->
  {{{block "styles"}}}

	<!-- Document Title
	============================================= -->
	<title>Photographer | Canvas</title>

</head>

<!-- Page Loader, stretched (body)
  ============================================= -->
  {{#if noTransition}}
    <body class="stretched">
  {{else}}
    <body class="stretched" data-loader-html="<div><img src='demos/photographer/images/icons/loader.svg' alt='Loader'></div>">
  {{/if}}

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">




  {{{body}}}


		<!-- Footer
		============================================= -->
		<footer id="footer" class="noborder clearfix">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" style="background: #F5F5F5">

				<div class="container clearfix">

					<div class="col_full center nobottommargin topmargin-sm">
						&copy; Canvas Inc. 2018. All Rights Reserved.</br></br>
						<a href="http://facebook.com/semicolonweb" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="http://twitter.com/__semicolon" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						<a href="http://instagram.com/semicolonweb" target="_blank" class="social-icon inline-block si-small si-borderless si-rounded si-instagram">
							<i class="icon-instagram"></i>
							<i class="icon-instagram"></i>
						</a>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up bgcolor"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Photograph Hover Plugin
	============================================= -->
	<script src="js/hover3d.js" ></script>
  
	<!-- Menu Open Plugin
	============================================= -->
	<script src="demos/photographer/js/menu-easing.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<!-- SLIDER REVOLUTION ADDONS  -->
	<script src="include/rs-plugin/js/addons/revolution.addon.revealer.min.js"></script>
	<script src="include/rs-plugin/js/addons/revolution.addon.particles.min.js"></script>
	<!-- SLIDER REVOLUTION EXTENSIONS  -->
	<script src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<script>

		// Hover Script
		jQuery(".img-hover-wrap").hover3d({
			selector: ".img-hover-card",
			shine: false,
		});

	</script>

    <!-- Extended -->
  {{{block "scripts"}}}
</body>
</html>